    html,body{ 
      height: 100%; 
      padding: 0;
      margin: 0;
      font-family:Trebuchet MS, Arial, Helvetica;
    }
    h2,h3, h4 { margin-top: 0; margin-bottom: 0; padding-top: 0; padding-bottom: 0;}
    #headertabs { 
      width: 69%;
      min-width: 600px;
      float: left; 
      height: 85%; 
      margin-left: 0px; 
      margin-right: 0px; 
      border-width: 0;
      background-color: white; }
    #heatmapTab {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 55px;
    padding-bottom: 20px;
/*    border: 1px solid #aaa;
*/    overflow: none;
    }

    #heatmapTab div {
      float: left;
      /*display: inline-block;*/
    }


/* QTIP STYLE CONFIG */
.tooltip {
  font-size: 14px;
}


/* FORCE GRAPH CONFIG */
/* !IMPORTANT: if you svg css, modify the svg export script as well */

line.link { cursor: pointer; stroke: #000000; }
#startNode {
  fill: #C4BA2B;
  font-weight: bold;
  font-size: 13px;
}

/* graph node text color */
.nodetext { 
    pointer-events: none;
    font: 12px sans-serif;
    fill: #BFB8BB;
    letter-spacing: 3px;
    text-shadow: 1px 1px #000000;
  /*fill: #121233;
    font-weight: bold;      
    stroke: #BDBDDE;
    stroke-width: 0.5px;
  */
}

a#export {
  position: absolute;
  top: 5px;
  right: 5px;
  text-decoration: none;
}

#graphTab {
  position: relative;
}



/* LEGEND STYLE CONFIGURATIONS */
/*http://jsfiddle.net/nirajmchauhan/GPdFk/*/

.sidePanel {
    z-index: 900;
    position:fixed;
    top:14%;  
}

#forcegraph-legend-sidePanel {
    width:285px;
    left:-252px;
}

#heatmap-legend-sidePanel {
    width: 385px;
    left:-352px;
}

.colorbar .axis line{
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.colorbar .axis .domain{
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.sidePanel-panelHandle {
    background-image: -webkit-linear-gradient(top,#EEEEEE,#EEEEEE);
    background-image: -moz-linear-gradient(center top , #EEEEEE, #EEEEEE);
    background-image: -o-linear-gradient(center top , #EEEEEE, #EEEEEE);
    background-image: -ms-linear-gradient(center top , #EEEEEE, #EEEEEE);
    background-image: linear-gradient(center top , #EEEEEE, #EEEEEE);
    height:100px;
    width:30px;
    border-radius:0 5px 5px 0;
    float:left;
    cursor:pointer;
    border-top:1px solid #9E9E9E;
    border-right:1px solid #9E9E9E;
    border-bottom:1px solid #9E9E9E;  
}

.sidePanel-panelContent {
    float:left;
    border:1px solid #9E9E9E;
    background-color:#EEEEEE;
    position: relative;
}

.sidePanel-panelContent input#keepVisible {
    position: absolute;
    top: 5px;
    right: 8px;
    -ms-transform: scale(1.2); /* IE */
    -moz-transform: scale(1.2); /* FF */
    -webkit-transform: scale(1.2); /* Safari and Chrome */
    -o-transform: scale(1.2); /* Opera */
}

#forcegraph-legend-panelContent {
    width:250px;
    height:340px;
    line-height: 2.2em;
}

#heatmap-legend-panelContent {
    width:350px;
    height:450px;
    overflow-y: auto;    
}

#heatmap-legend-panelContent h3 { 
  text-align: center;
}


#heatmap-legend-panelContent table {
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
  table-layout: fixed;
}

#heatmap-legend-panelContent table tr {
  height: 30px;
}

#heatmap-legend-panelContent table th {
  text-align: left;
  font-size: 11px;
}

#heatmap-legend-panelContent table#categorical th {
  text-align: center;
}

#heatmap-legend-panelContent table#categorical tbody {
    border-color: black;
    border-style: solid;
    border-width: 1px;
}


.sidePanel-panelHandle p {
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    color: #9E9E9E;
    font-size: 20px;
    font-weight: bold;
    left: 0px;
    margin: 0;
    padding: 0;
    position: relative;
    top: 17px;  
}

.forcegraph-legend-nodeImg {
    width: 35px;
    height: 35px;
    vertical-align: middle;
}

#forcegraph-legend-panelContent img {
    display:inline-block;
    /*width:15%;*/
}

.forcegraph-legend-node {
  cursor: pointer;
}

.forcegraph-legend-node:hover {
     background-color: #C7C7C7;
}

#forcegraph-legend-panelContent .nodeType{
    display:inline-block;
    width:55%;
    font-size: 0.7em;
    margin-left: 10px;
    letter-spacing: 0.2px;
}

#forcegraph-legend-panelContent .nodeNo{
    display:inline-block;
    width:12%;
    font-size: 11px;
    text-align: right;
}



/* FORM STYLE CONFIGURATION */
hr {
    border: none;
    background-color: #ccc;
    color: #ccc;
    height: 1px;
}

form label{
    display:inline-block;
    width:25%;
}
form input {
    display:inline-block;
    width:75%;  
}

form {
    line-height: 3.0em
}

/* center dropdown menu texts */
.ui-selectmenu-status {
    text-align: center
}

.ui-selectmenu-item-header {
    /* adjust dropdown menu font size */
    font-size: 12px;
    padding-bottom: 0.20em
}

/*.ui-selectmenu-item-content {
    font-size: 11px;
}

.ui-selectmenu-group-label {
    font-size: 12px;
}*/


input[type='submit'] {
    width: 100px;
}

/* combobox styling */
.ui-combobox {
    position: relative;
    display: inline-block;
}
.ui-combobox-toggle {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: -1px;
    padding: 0;
    /* adjust styles for IE 6/7 */
    *height: 1.7em;
    *top: 0.1em;
}
.ui-combobox-input {
    margin: 0;
    padding: 0.3em;
}

/* decrease node label fonts */
.ui-selectmenu-menu li a { font-size: 0.9em; }




/* 
    HEATMAP CONFIGURATION
*/
  #sampleclass_container {
    float: left;
    margin-left: 15px;
  }

  #categorical_container {
    margin-left: 5px;
    margin-right: 15px;
  }

  #numerical_container {
    padding-left: 1px;
    margin-left: 5px;
  }

  #categoricalTable {
    empty-cells: show;
    height: 100%;
    border-collapse:collapse;
    table-layout: fixed;
  }

  #sampleClassTable tbody, #categoricalTable tbody, #numericalTable tbody {
    border-width: 1px;
    border-style: solid;
    border-color: gray;
  }

  #sampleClassText {
    text-align: center;
    position: relative;
    left: 0%;
    bottom: 20px;
  }


/*#categoricalTable th, #numericalTable th {*/
  .nodeLabelHeader {
/*    font-family:Trebuchet MS, Arial, Helvetica;
*/    font-size: 10px;
    font-weight: normal;
    position: relative;
    height: 30px;
    bottom: 6px;
    left: 50%;
    transform: rotate(-40deg);
    transform-origin: 0% 50%;
    -ms-transform: rotate(-40deg); /* IE 9 */
    -ms-transform-origin:0% 50%; /* IE 9 */
    -webkit-transform: rotate(-40deg); /* Safari and Chrome */
    -webkit-transform-origin:0% 50%; /* Safari and Chrome */
    -moz-transform: rotate(-40deg); /* Firefox */
    -moz-transform-origin:0% 50%; /* Firefox */
    -o-transform: rotate(-40deg); /* Opera */
    -o-transform-origin:0% 50%; /* Opera */
  }

  #numericalTable {
    empty-cells: show;
    height: 100%;
    border-collapse:collapse;
    table-layout: fixed;
  }

  .nodeTypeFooter {
  /*#numericalTable tfoot td, #categoricalTable tfoot td { */
/*    width: 50px;*/
    font-family:Trebuchet MS, Arial, Helvetica;
    font-size: 11px;
    font-weight: normal;
    text-align: left;
    position: relative;
    height: 30px;
    top: 20px; /* from the tfoot td top */
    left: 50%;
    transform: rotate(-90deg);
    transform-origin: 30% 45%;
    -ms-transform: rotate(-90deg); /* IE 9 */
    -ms-transform-origin:30% 45%; /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Safari and Chrome */
    -webkit-transform-origin:30% 45%; /* Safari and Chrome */
    -moz-transform: rotate(-90deg); /* Firefox */
    -moz-transform-origin:30% 45%; /* Firefox */
    -o-transform: rotate(-90deg); /* Opera */
    -o-transform-origin:30% 45%; /* Opera */
    margin-bottom: 40px;
  }

  #sampleClassTable {
    empty-cells: show;
    height: 100%;
    border-collapse:collapse;
    table-layout: fixed;    
  }

  #sampleClassTable td {
/*    border-width: 1px;
    border-style: solid;
    border-color: gray;        
*/  }

  #sampleClassTable thead {
    font-size: 11px;
    padding-left: 1px;
  }

/* 
  HEATMAP CONFIGURATION ENDS
*/


    #filter { 
/*      padding-top: 0;
      padding-bottom: 0;*/
      margin-top: 0px;
      margin-bottom: 0px;
    }
    .container { width: 100%; height: 100%; margin-top: 0px; margin-bottom: 0px; }
    #sidebar {
      min-width: 382px;
      width: 30%;
      float: right;
      height: 100%;
      vertical-align: top;
      margin-right: 2px;
    }
    .sidetab { font-size: small; }
    div.sidetab#plot { 
      height: 300px;
      padding: 0;
/*      padding-left: 0;
      padding-right: 0;
*/      overflow: hidden;
      /*padding-bottom: 60px;*/
      /*padding-top: 0px; */
    }
    div.sidetab#boxplotinfo {
      text-align: center;
      height: 300px;
      padding-left: 0;
      padding-right: 0;
      overflow: hidden;
      padding-bottom: 0px;
      padding-top: 0px; 
    }
    /* override default padding: */
    .ui-accordion .ui-accordion-content 
    { 
      padding-left: 1em;
      padding-right: 1em;
      padding-top: 15px;
      padding-bottom: 15px;
    }


    .filterTab.ui-tabs-panel { 
      font-size: 0.82em;
      padding-left: 0.5em;
      padding-right: 0.5em;
      padding-top: 0.8em;
      padding-bottom: 0em;

/*      padding-left: 0px; 
      padding-right: 0px; 
      padding-top: 15px; 
      padding-bottom: 15px;*/
    }

    .ui-widget {font-size: 14px;}
    /*#datasetSelection { width: 200px; }*/
    #dataset label { 
      font-family: 'Trebuchet MS', Tahoma, Verdana, Arial, sans-serif;
      margin-right: 10px;
    }

    .ui-dialog-titlebar-close { visibility: visible;}

    /* nodetype fields should be wide enough */
    /*select[class="nodeType"] { width: 70px;}*/

    #heatmapTab.ui-tabs-panel { height: 90%; }

    .ui-widget-header#sidebar {
        width: 90%;
    }

    .ui-widget-header {
        background: #cccccc;
        color: #222222;
        font-weight: bold;
        height:20px      
    }

    .ui-widget-header ul {
        height:18px;   
    }

    .ui-tabs .ui-tabs-nav li {
        height:18px;
        font-size:14px;
        
    }

    .ui-tabs .ui-tabs-nav li a {
        position:relative;
        top:-6px  
    }

    /* override style for header tabs, no grey bg */
.ui-widget-content#headertabs { border: 0px solid #aaaaaa; background: #ffffff 50% 50% repeat-x; color: #222222; }


/* PATH TAB CONFIGURATION */

    #pathTab {
      margin-top: 10px;
    }

    .nodeTableImg {
      width: 20px;
      height: 20px;
      margin-right: 5px;
      vertical-align: middle;
    }

/* PATHS CONFIGURATION */

/* displaying selected row in tables */
table.display tr.even.row_selected td {
  background-color: #B0BED9;
}

table.display tr.odd.row_selected td {
  background-color: #9FAFD1;
}

td.pathLink {
  cursor: pointer;
}

td#pathLinkSelected
{
  background-color: #9FAFD1;
},

/* BOXPLOT CONFIGURATION */
.box { font: 10px sans-serif; }
.box line, .box rect, .box circle { stroke: #000; stroke-width: 1.5px; fill: #fff; }
.box .center { stroke-dasharray: 3 3; }
.box .outlier { stroke: #ccc; fill: none; }

/* drawing to hidden tabs will fail otherwise */
.ui-tabs .ui-tabs-hide {
    position: absolute;
    left: -10000px;
}


/* OPTIONS DIALOG & HIGHLIGHTING */
#options {
  width: 22%;
  float: right;
  margin-right: 20px;
  line-height: 2.8em;
  margin-top: 4px;
}

#options form {
  float:right;
  display:inline-block;
}

#options form input {
    width: 100px;
    line-height: 1.5em;

}

/*#options label {
  display: inline-block;
  float:left;
  color: #68CC68;
  font-size: 14px;
  font-weight: bold;
}
*/

#options-overlay {
  text-align:center; 
  opacity: 0.65;
  display: none;
  background-color: #DDDDDD;
  position: fixed;
  left: 35%;
  top: 50%;
  border: 1px solid;
  border-color: white;
  border-radius: 10px 10px 10px 10px;
  width: 30%;
}

#options-overlay h1 {
  color: #333333;
}

#optionsDialog .highlightItem {
    border: 1px solid #DDDDDD;
    border-radius: 7px 7px 7px 7px;
    margin-bottom: 2px;
}

#optionsDialog .highlightItem:nth-child(odd) {
    background-color: rgba(0, 0, 0, 0.1);
}

#optionsDialog .highlightItem span.img {
  display: inline-block;
  width: 10%;
  text-align: center;
  margin-top: 23px;
}

#optionsDialog .highlightItem span.info {
  display: inline-block;
  width: 65%;
  vertical-align: top;
}

#optionsDialog .highlightItem span.remove {
  display: inline-block;
  width: 15%;
  cursor: pointer;
  text-align: right;
}


/* SIDEBAR STYLE OPTIONS */

#nodeA.sidetab.centered table, #nodeB.sidetab.centered table, #link.sidetab.centered table {
  width: 85%;
  margin: 0 auto; 
  text-align: left;
}

#nodeA.sidetab.centered, #nodeB.sidetab.centered, #link.sidetab.centered
{
    text-align: center;
}

td.attributes {
  font-weight: bold;
  width: 42%;
}

td.values {
  width: 58%;
  word-wrap: break-word;
  text-align right
}

span.info table {
  table-layout: fixed;
  width: 100%;
}


/* HIGHCHARTS STYLING */

/*allow tooltip to overflow from container*/
.highcharts-container { overflow: visible !important; }
